@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Long+Cang&family=Noto+Sans+SC:wght@400;700;900&family=Noto+Serif+SC:wght@400;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/lxgw-wenkai-web@1.7.0/style.css');

.cover-font-noto-sans { font-family: "Noto Sans SC", "PingFang SC", sans-serif; }
.cover-font-noto-serif { font-family: "Noto Serif SC", "Songti SC", serif; }
.cover-font-lxgw-wenkai { font-family: "LXGW WenKai", "KaiTi", serif; }
.cover-font-ma-shan-zheng { font-family: "Ma Shan Zheng", "KaiTi", cursive; }
.cover-font-long-cang { font-family: "Long Cang", "KaiTi", cursive; }
